@{
    ViewData["Title"] = "Restaurant Employees";
}

<div class="text-center">

    <h1 class="display-4">Restaurant Employees</h1>

    <br />

    <p>To see all employees click on <b>All Employees</b> in menu bar.</p>

    <br />

    <p>If you want to add new employee click on <b>Add Employee</b> in menu bar.</p>
</div>